/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 29, 2017, 4:05:07 PM
    Author     : Harshit
*/

* {
    font-family: "Segoe UI", Tahoma;
}

html, body {
    margin: 0;
    padding: 0;
}

.login {
    width: 100%;
    margin: 0 auto;
}

.logo {
    font-size: 28px;
    margin: 50px 10px 100px 10px;
    width: 300px;
    max-width: 90%;
    text-align: center;
}

.alert {
    width: 300px;
}

input {
    width: 300px;
    margin-bottom: 30px;
    background: none;
    font-size: 18px;
    font-weight: 300;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 10px 20px;
}

input[type="submit"] {
    background: #8fc800;
    border: 1px solid #8fc800;
    color: #fff;
}