/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 29, 2017, 4:05:07 PM
    Author     : Harshit
*/

* {
    font-family: "Segoe UI", Tahoma;
}

html, body {
    margin: 0;
    padding: 0;
}

.login {
    width: 100%;
    margin: 0 auto;
}

.logo {
    font-size: 28px;
    margin: 50px 10px 100px 10px;
    width: 300px;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
}

.logo img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    width: 300px;
    margin: 50px 0px;
}

.alert {
    width: 300px;
}

input, textarea {
    width: 300px;
    margin-bottom: 30px;
    background: none;
    font-size: 18px;
    font-weight: 300;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 10px 20px;
}

input[type="submit"] {
    background: #8fc800;
    border: 1px solid #8fc800;
    color: #fff;
}

.goBack {
    background: #000;
    border: 1px solid #000;
    color: #fff;
    width: 300px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 5px;
    padding: 10px 20px;
}

.listbtn {
    font-weight: 300;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.lpButton {
    background: #2B4EDB;
    border: 1px solid #2B4EDB;
}

.teachersButton {
    background: #CE2AD3;
    border: 1px solid #CE2AD3;
}

.videoButton {
    background: #EF2F33;
    border: 1px solid #EF2F33;
}

.bodyContainer {
    width: 300px;
    max-width: 90%;
    margin: 0 auto;
}

.bodyContainer a:hover {
    text-decoration: none;
}

.showData {
    text-align: left;
}

.showData .header {
    padding: 10px 20px;
    background: #E80CE3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #E80CE3;
    color: #fff;
}

.showData .body {
    padding: 10px 20px;
    background: #800DFF;
    border: 1px solid #800DFF;
    color: #fff;
}

.showData .footer {
    padding: 10px 20px;
    background: #E80CE3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #E80CE3;
    color: #fff;
}

.showData .submitFeedbackBtn {
    background: #5603b1;
    border: 1px solid #5603b1;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.showData .viewLessionPlanBtn {
    background: #E80CE3;
    border: 1px solid #E80CE3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.showData a {
    color: #fff;
}

.showData iframe {
    max-width: 100%;
}

#player {
    max-width: 100%;
    height: auto;
}

.feedbacks {
    width: 100%;
}

.feedbacks .message {
    width: 80%;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
}

.statsLeft {
    border: 1px solid #0077c2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width:80%;
    float: left;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 300;
}

.statsRight {
    border: 1px solid #0077c2;
    background: #0077c2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width:20%;
    float:right;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}